*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcshareddata/swiftpm/
!*.xcworkspace/xcshareddata/swiftpm/Package.resolved
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.firebase/
.firebaserc
composeApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist
iosApp/Configuration/Config.local.xcconfig
